# Exclude everything unless otherwise stated.
*
# Include these paths.
!python/activator/*.py
!python/initializer/*.py
!python/shared/*.py
!pipelines
!config/astropy.cfg
!config/gunicorn.conf.py
!maps
!bin.src/write_init_outputs.py
